
@{
    ViewBag.Title = "Course";
}

<h2>Course</h2>

<form method="post" action="">

    <label class="control-label"> Course Id </label>
    <input type="number" name="Id" class="form-control" />

    <label class="control-label">Course Code</label>
    <input type="text" name="CourseCode" class="form-control" />

    <label class="control-label">Course Name</label>
    <input type="text" name="Name" class="form-control" />

    <label class="control-label">Course Credit</label>
    <input type="number" name="Credit" class="form-control" />
    <br />
    <input type="submit" value="Create" class="btn btn-primary" />

</form>