
@{
    ViewBag.Title = "Personal";
}


<h2>Personal</h2>
<p>Highly skilled and motivated Sr. Software Engineer with a strong background in developing VAT Processing Software, ERP Software, and HRM & Payroll Software. Proficient in .NET Framework, C#, ASP.NET MVC, and ASP.NET Core. Committed to delivering technical solutions and achieving business outcomes through collaborative teamwork.</p>