
@{
    ViewBag.Title = "Projects";
}


<h2>Projects</h2>
<ul>
    <li>
        <b>E-commerce Platform Development:</b><ul>
            <li>Developed a comprehensive e-commerce platform using ASP.NET MVC, incorporating secure payment gateways and user-friendly interfaces.</li>

            <li>Implemented a robust product catalog and inventory management system. </li>
            <li>Integrated third-party APIs for shipping and order tracking.</li>
        </ul>
    </li>

    <li>
        <b>HRM & Payroll Software:</b><ul>
            <li>
                Led the development of an HRM & Payroll software solution using .NET Framework and C#.
            </li>
            <li>
                Designed and implemented modules for employee management.
            </li>
            <li>
                Customized the system to adhere to specific client requirements.
            </li>
        </ul>
    </li>
    <li>
        <b>Filling Station Management System</b>
        <ul>

            <li>
                Framework: .Net Framework
            </li>
            <li>
                Language: C#
            </li>
            <li>
                Data Base: Microsoft Azzure
            </li>
        </ul>
    </li>
</ul>