@{
    ViewBag.Title = "Home Page";
}

<main>



    <h1>Name: MD. RAKIBUL HASAN</h1>
    <h2>ID: 21-44418-1</h2>
    <h3>Email: <a href="rakibulmrh4bd@gmail.com">rakibulmrh4bd@gmail.com</a></h3>

</main>