@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>Name: @ViewBag.Index.Name</h1>
    <h2>ID: @ViewBag.Index.Id</h2>
    <h3>Email: <a href="mailto::@ViewBag.Index.Email">@ViewBag.Index.Email</a></h3>
</main>