<h2>Projects</h2>
<ul>
    @foreach (var project in ViewBag.Projects)
    {
        <li>
            <b>@project.ProjectName</b>
            <ul>
                @if (project.ProjectDescription != null)
                {
                    foreach (var desc in project.ProjectDescription)
                    {
                        <li>@desc</li>
                    }
                }
            </ul>
        </li>
    }
</ul>

@*</ul>
    <li>

    </li>

    <li>
        <b>HRM & Payroll Software:</b><ul>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ul>
    </li>
    <li>
        <b>Filling Station Management System</b>
        <ul>

            <li>
                Framework: .Net Framework
            </li>
            <li>
                Language: C#
            </li>
            <li>
                Data Base: Microsoft Azzure
            </li>
        </ul>
    </li>*@