@{
    ViewBag.Title = "Reference";
}

<h2>References</h2>
<ol>
    <li>
        <div class="reference">
            <div class="name">Zahiduddin Ahmed</div>
            <div class="designation">Assistant Professor</div>
            <div class="institute">Faculty Of Science And Technology</div>
            <div class="email"><a href="mailto:zahid@aiub.edu">zahid@aiub.edu</a></div>
        </div>
    </li>
    <li>
        <div class="reference">
            <div class="name">Shibaji Mridha</div>
            <div class="designation">Assistant Professor</div>
            <div class="institute">Faculty of Arts & Social Science</div>
            <div class="email"><a href="mailto:smridha@aiub.edu">smridha@aiub.edu</a></div>
        </div>
    </li>
</ol>

<style>
    .reference {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 20px;
    }

    .name {
        font-weight: bold;
    }

    .email a {
        color: blue;
    }
</style>
